<launch>
<arg name="model" default="$(find delibot_description)/urdf/delibot.urdf" />
<param name="robot_description" textfile="$(arg model)" />

  <node pkg="delibot_bringup" type="delibot_core.py" name="delibot_core" output="screen">
  </node>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="10.0" />
  </node>

</launch>